# Python Basics

## 1. First Steps

In this session you will learn the Basics of Python.

In [ ]:
5 #print a number

In [ ]:
5+2 #addition

In [ ]:
5-1 #substraction

In [ ]:
5*2 #multiplication

In [ ]:
5**2 #exponentiation

In [ ]:
5/2 #Division

In [ ]:
type(5) #check type of data with function type()

In [ ]:
type(2.5)

In [ ]:
"Dog" #creating a string with quotes

In [ ]:
type("Dog")

In [ ]:
Dog #not a string, not definded variable

In [ ]:
5+2 #by default jupyter only prints out last statement in a cell
4-1

In [ ]:
print(5+2) #use print() to print out all operations you like
4-1

In [ ]:
print(5+2,4-1) #print many operations with one print() call

## 2. Variables

In [ ]:
a = 5 #assign integer object 5 to the variable a

In [ ]:
a #print a

In [ ]:
print(a) #print a

In [ ]:
a = 7 #change the value of a, assign new object to a

In [ ]:
a

In [ ]:
b = 2 #assign integer object 2 to variable b

In [ ]:
a #only b is printed out
b

In [ ]:
print(a)
b

In [ ]:
print(a,b) #print both variables in one line

In [ ]:
print(a,b,sep = '\n') #print both variables with line break

In [ ]:
a+b #addition

In [ ]:
a-b #substraction

In [ ]:
a*b #multiplication

In [ ]:
c = a/b #division
c

In [ ]:
type(c) #division of two integers created float object

In [ ]:
d = "Dog" #assigning the string "Dog" to variable d

In [ ]:
d #printing d

In [ ]:
type(d) #check out the data type of d

In [ ]:
my_favourite_dog = "Lassie"

In [ ]:
my_favourite_dog

In [ ]:
"Dog" = "Spike" #string object cannot serve as variable

In [ ]:
5 = "Spike" #integer/float object cannot serve as variable

In [ ]:
d5 = "Spike"

In [ ]:
d5

In [ ]:
e = 10 #int object 10 assigned to e / reference from e to 10
e

In [ ]:
f=e #same int object 10 also assigned to f / reference from f to 10
f

In [ ]:
e = 15 #new reference from e to 15, does not change reference of f
e

In [ ]:
f

## 3. Integers and Floats

In [ ]:
a = 5 #assign integer object 5 to a

In [ ]:
b = 2 #assign integer object 2 to b

In [ ]:
print(type(a), type(b)) #check data type of a and b

In [ ]:
a+b #addition

In [ ]:
b+a #addition

In [ ]:
a-b #substraction

In [ ]:
b-a #substraction (negative numbers)

In [ ]:
a*b #multiplication

In [ ]:
c = a/b #division, creating float object
c

In [ ]:
type(c)

In [ ]:
c.as_integer_ratio() #expressing float as ratio of integers -> calling method as_integer_ratio() on float object c

In [ ]:
c.is_integer()

In [ ]:
b.denominator

In [ ]:
b.numerator

In [ ]:
d = 11/3
d

In [ ]:
d.as_integer_ratio()

In [ ]:
round(d,2) #rounding to a given precision in decimal digits

In [ ]:
int(d) #transfrom float to integer

In [ ]:
float(a) #transform integer to float

In [ ]:
type(5.) #transform integer to float

In [ ]:
"5" #transform integer to string

In [ ]:
type("5")

In [ ]:
type(str(5)) #transform integer to string

## 4. Strings

In [ ]:
c = "5" #assign string object "5" to variable c
type(c)

In [ ]:
5+2

In [ ]:
c+2 #cannot add string and integer

In [ ]:
d = "Dog" #assign string object "Dog" to variable d
d

In [ ]:
e = "Cat" #assign string object"Cat" to variable e
e

In [ ]:
print(type(d), type(e)) #check data type of d and e

In [ ]:
d+e #addition of strings is defined (concatenation)

In [ ]:
e+d

In [ ]:
d-e #substraction of strings not defined

In [ ]:
d*e  #multiplication of strings not defined

In [ ]:
d+5 #cannot add string to integer/float

In [ ]:
d+str(5) #addition of two strings

In [ ]:
str(5)+d #addition of two strings

In [ ]:
d*5 #multiplication of string

In [ ]:
5*d #multiplication of string

In [ ]:
d*str(5) #multiplication of strings not defined

In [ ]:
statement = "I "+"have "+"5 "+"dogs." #concatenate many strings to one string
statement

In [ ]:
animal = "Cats" #assign string to variable
amount = 8      #assign integer to variable

In [ ]:
print("I have {} {}.".format(amount,animal)) #string formatting

In [ ]:
del(d) #deleting string 
d

In [ ]:
d = "Dog"
d

In [ ]:
len(d) #return number of items in string -> built in function len()

In [ ]:
len(statement) #return number of items in string

In [ ]:
len(23) #function len() not defined for integer/float

In [ ]:
statement = statement.upper()
statement#convert all items to uppercase -> built in method str.upper()

In [ ]:
statement = statement.lower() #convert all items to lowercase -> built in method str.lower()
statement

In [ ]:
statement = statement.capitalize() #capitalize first character
statement

In [ ]:
l = list(statement) #transforming string into list with function list() -> seperating all elements
l

In [ ]:
type(l) #check data type

## 5 List (Part 1)

In [ ]:
l = [1, 2, 3, 4] #creating a list with square brackets containing integers
l

In [ ]:
type(l) #check data type

In [ ]:
m = [1.5, 2.4, 3.7] #creating a list with floats
m

In [ ]:
n = ["Dog", "Cat", "Mouse"]  #creating a list with strings
n

In [ ]:
o = [1, 2.4, "Dog"] #creating a list with different data types / objects
o

In [ ]:
len(l) #counting amount of elements in list

In [ ]:
p = list("This is a string!") #transforming string to list, everthing can be a list element
p

In [ ]:
type(p)  #check data type

In [ ]:
len(p) #counting amount of elements in list

In [ ]:
sum(l) #sum of numeric values in list

In [ ]:
sum(m)  #sum of numeric values in list

In [ ]:
sum(n) #does not work with str objects

In [ ]:
l

In [ ]:
l.append(5) #add another objects to the end -> built in method list.append()
l

In [ ]:
l.count(5) #number of occurences of element -> built in method list.count()

In [ ]:
l.remove(5) #remove first occurence of element -> built in method list.remove()
l

In [ ]:
l.count(5)

In [ ]:
l.reverse() #reverse sequence of elements  -> built in method list.reverse()
l

In [ ]:
l.sort(reverse = False) #sorting all elements  -> built in method list.sort()
l

In [ ]:
l + [6,7,8] #adding / concatenating two lists

In [ ]:
l - [5] #substraction of lists not defined

In [ ]:
l

In [ ]:
l*2 #concatenates two copies / no element-wise multiplication!

In [ ]:
l/2 #not defined

## 6. List (Part 2)

In [ ]:
l = [1,2,3,4,5]

In [ ]:
l[1] #getting the second list element at index position 1 (zero-based indexing!)

In [ ]:
l[0] #getting the first list element at index position 0 !

In [ ]:
l[4] #getting the fifth list element at index position 4

In [ ]:
l[-1] #getting the last list element at index position -1

In [ ]:
l[-2] #getting the second last list element at index position -2

In [ ]:
l[-5] #getting the fifth last list element at index position -5

In [ ]:
l.index(5) #getting the index position of the first occurence of element 5

In [ ]:
l[0] = 100 #change element in list (lists are mutable)
l

In [ ]:
l[-1] = 101
l

In [ ]:
l[1:4] #slice from second element at index position 1 (incl.) till fifth element at index position 4 (excl.)

In [ ]:
l[1:5] #from second (incl.) till sixth (excl.)

In [ ]:
l[1:] #from second (incl.) till last (incl.)

In [ ]:
l[0:3]  #from first (incl.) till fourth (excl.)

In [ ]:
l[:3]  #from first (incl.) till fourth (excl.)

In [ ]:
l[1:3] #second and third (incl.)

In [ ]:
l[:] #all

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
l

In [ ]:
l[::2] #every second element beginning from first (incl.)

In [ ]:
l[::3] #every third element beginning from first (incl.)

In [ ]:
l[1::2] #every second element beginning from second (incl.)

In [ ]:
l

In [ ]:
l[4:7] = [50, 51, 52] #assigning many new values to many elements
l

In [ ]:
l[4:7] = 50 #assigning one new value to many elements (broadcasting) -> error

In [ ]:
l[4] = 50 #manual "broadcasting"
l[5] = 50
l[6] = 50
l

In [ ]:
del l[0] #delete element at certain index position
l

In [ ]:
players = [["Andy", 1.86, 82], ["Ben", 1.78, 65], ["Tom", 1.92, 101], ["Mike",1.82, 85]] #creating nested list
players

In [ ]:
print(type(players),len(players), sep = '\n') #list containing 4 list objects

In [ ]:
players[0] #first nested list at index position 0

In [ ]:
players[-1] #last nested list at index position -1

In [ ]:
players[0][1] #height of first player

In [ ]:
names = [players[0][0],players[1][0],players[2][0],players[3][0]] #creating a list of all names manually
names

In [ ]:
x = [1,2,3,4] #assigning list to variable x

In [ ]:
y = x #assigning same list to variable y
y

In [ ]:
x[0] = 100 #changing first element of x

In [ ]:
x

In [ ]:
y #y has also changed as it references to same list object as x

In [ ]:
d = "Dog" #string "Dog" contains multiple elements ("D", "o", "g") 
d

In [ ]:
d[0] #first element of string

In [ ]:
d[-1] #last element of string

In [ ]:
d[1] = "a" #string object is immutable!!!

## 7. Tuple

In [ ]:
a = (1,2,3) #creating a tuple with parantheses
a

In [ ]:
b = 1,2,3 #creating a tuple without parantheses
b

In [ ]:
c = (1, 2.5, "Dog") #tuple with different data types
c

In [ ]:
a[1] #indexing works

In [ ]:
c[1:] #slicing works

In [ ]:
a * 2 #same behavior as list

In [ ]:
a +(4,5,6) #same behavior as list

In [ ]:
a[0] = 100 #tuple is immutable!

In [ ]:
l = [1,2,3,4,5]

In [ ]:
enumerate(l) #enumerate object ("stores" index, value pairs of list l)

In [ ]:
m = list(enumerate(l)) #return index,value pairs of list l as tuples
m

In [ ]:
first_tuple = m[0] #first index, value tuple
first_tuple

In [ ]:
index, value = first_tuple #unpacking tuples
print(index, value)

In [ ]:
l

In [ ]:
tuple(l) #transforming list into tuple

## 8. Set

In [ ]:
l = [1,2,2,3,4,5,5,5,6,7,8,9,9,9,9] #creating list with duplicates
l

In [ ]:
s = set(l) #transforming list to set -> removing duplicates, collection of unique elements
s

In [ ]:
type(s) #check data type

In [ ]:
t = {11,12,13,13,14,15,15} #create set with {}

In [ ]:
t #duplicates removed

In [ ]:
len(t) #count number of unique elements

In [ ]:
t.add(6) #add another element

In [ ]:
t

In [ ]:
t.remove(12) #remove element

In [ ]:
t

In [ ]:
t[0] #indexing/slicing not supported!

In [ ]:
u = {"Dog", "Cat", "Mouse", "Dog", "Elephant"} #works with string objects as well
u

## 9. Operators and Booleans

### Arithmetic Operators

In [ ]:
a = 5
b = 2
c = 7

In [ ]:
a + b #addition

In [ ]:
a - b #substraction

In [ ]:
a * b #multiplication

In [ ]:
a / b #division

In [ ]:
a // b #floor-divide

In [ ]:
a ** b  #exponentiation

In [ ]:
a % b #modulo

### Comparison Operators

In [ ]:
a = 5
b = 2
c = 7

In [ ]:
a == b #True if a equal b, no assignment!

In [ ]:
a != b #True if a not equal b

In [ ]:
a < b #True if a less than b

In [ ]:
a > b #True if a greater b

In [ ]:
a+b <= c #True if sum of a and b less or equal c

### Booleans

In [ ]:
type(True) #data type bool

In [ ]:
int(True) #True stands numerically for 1

In [ ]:
int(False) #False stands numerically for 0

In [ ]:
bool(1) #casting an int/float unequal 0 into boolean object gives True

In [ ]:
bool(5)  #casting an int/float unequal 0 into boolean object gives True

In [ ]:
bool(0) #casting 0 into boolean object gives False

In [ ]:
5 * True #True behaves like 1

In [ ]:
5 + True #True behaves like 1

In [ ]:
5 * False #False behaves like 0

In [ ]:
d = (5==2) #boolean objects can be assigned to variables
d

In [ ]:
5 * d

In [ ]:
l = [1,2,"Cat", 1.5, True] #different data types can be stored in a list, also booleans

In [ ]:
l

### Logical Operators (and or not)

In [ ]:
True and True #Logical AND: True if all conditions are True

In [ ]:
(5 > 2) and (7 > 2) #True if all conditions are True

In [ ]:
True & True #& works same way in most cases

In [ ]:
(5 > 2) & (7 > 2) # & works same way in most cases

In [ ]:
True & False

In [ ]:
(5 > 2) & (7 < 2)

In [ ]:
False & False

In [ ]:
(5 < 2) & (7 < 2)

In [ ]:
True or True #Logical OR: True if at least one condition is True

In [ ]:
True | True # | works as well in most cases

In [ ]:
(5 > 2) | (7 > 2)

In [ ]:
True | False

In [ ]:
(5 > 2) | (7 < 2)

In [ ]:
False | False

In [ ]:
not False #True if False

In [ ]:
not True #False if True

In [ ]:
not((not(5 > 2)) | (7 < 2))

## 10 Conditional Statements (if, elif, else, while)

### if, elif, else

In [ ]:
a = 5
b = 5

In [ ]:
if a < 10:
    print("a is less than 10")
else:
    print("a is not less than 10")

In [ ]:
if a > b: #check if conditional statment is True or False -> False
    print("a is greater than b!") #if conditional statment is True, do this:
elif a < b: #if conditional statment is False, check if this new statement is True ->False
    print("a is less than b!") #if new conditional statment is True, do this:
else: #for all other cases:
    print("a is equal b!") #do this!

In [ ]:
Price = 1000
discount_intervals = [50, 100, 200]
discounts = [0, 0.1, 0.2, 0.25]

In [ ]:
if Price < discount_intervals[0]: #if price less than 50:
    Price = Price*(1-discounts[0]) #no discount
elif Price < discount_intervals[1]: #if price between 50 and 100(excl.):
    Price = Price*(1-discounts[1]) # 10% discount
elif Price < discount_intervals[2]: #if price between 100 and 200 (excl.):
    Price = Price*(1-discounts[2]) # 20% discount
else: #if price greater or equal 200:
    Price = Price*(1-discounts[3]) # 25% discount
print("The after-discount price is {}!".format(Price))

### while loop

In [ ]:
a = 10

In [ ]:
if a < 20: #check if conditional statement is True or False -> True
    a += 1 #if conditional statement is True, do this
    print(a) #and this

In [ ]:
a = 10 
while a < 20: #check if conditional statement is True or False -> True
    a += 1 #if conditional statement is True, do this
    print(a) #and this, and repeat process

In [ ]:
a

In [ ]:
max_weight = 1000 #max weight allowed
weight = 1100 #actual weight
reduction_steps = 17 #reduced weight per step (e.g. weight of one container)

while weight > max_weight: #check if freight is too high
    print("The Freight with {} tons is too heavy!".format(weight)) #if weight too high, give warning message...
    weight -= reduction_steps #...and reduce weight by unloading one container -> Check again and again!
print("The Freight with {} tons is OK!".format(weight)) #give me the final weight that is acceptable

## 11 For Loops

In [ ]:
l = [1,2,3,4]

In [ ]:
l*2 #no element-wise multiplication!

In [ ]:
for element in l: #iteration over all elements in list l
    print(element) #with each element, do the following:

In [ ]:
for i in l:
    print(i*2) #no limitations on the actions, here square each element

In [ ]:
for i in l:
    j = i*2 #assign new variable before printing
    print(j)

In [ ]:
count = 0 #same as len(l)
for _ in l: 
    count += 1

In [ ]:
count

In [ ]:
d = "Dog"
d

In [ ]:
for element in d: #iteration over string object
    print(element)

In [ ]:
for i in d: #iteration over string object(2)
    print(i.upper())

In [ ]:
count = 0 #iteration over string object(3)
for _ in d:
    count = count+1

In [ ]:
count

In [ ]:
g = range(1,5) #creating a range object ("storing" integers from 1 (incl.) to 5 (excl.))
g

In [ ]:
type(g) #range object

In [ ]:
list(g) #calling a range object by creating a list

In [ ]:
for i in range(1,5): #iterating from 1 (incl.) till 5 (excl.) -> 4 iterations 
    print(i)

In [ ]:
for i in range(5): #creating 5 iterations
    print(i)

In [ ]:
for i in range(0,10,3): #from 0 to 10 (excl.), every third element
    print(i)

In [ ]:
for i in range(1,11): #flexible operations
    print(i*2)

In [ ]:
l = [] #store square numbers from 1 till 10 in a list
for i in range(1,11):
    square = i**2  
    l.append(square)

In [ ]:
l

In [ ]:
[i**2 for i in range(1,11)] #List Comprehension does the same job!

In [ ]:
count = 0 #count all numbers between 0 and 10000 that are divisible by 2 and 5 without remainder
for i in range(10000+1):
    if (i%2==0) & (i%5==0):
        count+=1

In [ ]:
count

### continue, break and pass

In [ ]:
l = [1,3,5,7,10,11,13,14,15]
l

In [ ]:
for i in l: #finding the first even element in l
    if i%2 == 0:
        print("The first even element is {}!".format(i))
        break #if the condition is met once, stop iterating!
    else: 
        print("{} is odd!".format(i))

In [ ]:
for i in l: #finding the first even element in l
    if i%2 == 0:
        print("The first even element is {}!".format(i))
        break

In [ ]:
for i in l: #finding the first even element in l
    if i%2 != 0:
        pass #do nothing, ignore
    else: 
        print("The first even element is {}!".format(i))
        break

In [ ]:
for i in l: #finding the first even element in l
    if i%2 != 0:
        continue
        print(i)
    else: 
        print("The first even element is {}!".format(i))
        break

In [ ]:
for i in l: #finding the first even element in l
    if i == 10:
        continue #ignore and continue immediately with next element
    if i%2 == 0:
        print("The first even element is {}!".format(i))
        break
    else: 
        print("{} is odd!".format(i))

## 12 Generating Random Numbers

In [ ]:
import random #imports random module

In [ ]:
random.random() #generates random float in interval 0 to 1

In [ ]:
random.seed(10) #setting a random-seed and generate "pseudo-random" numbers 
random.random()

In [ ]:
random.randint(1,6) #generating a random integer in range 1 to 100 (both including)

In [ ]:
l = [] #creating a list with 10 random integers in range 1 to 100 (both including)
random.seed(123)
for _ in range(10):
    random_int = random.randint(1,6)
    l.append(random_int)

In [ ]:
l

In [ ]:
len(l)

In [ ]:
random.normalvariate(10, 5) #creating normal distributed random numberswith mean = 10 and std = 5

## 13 User defined Functions

In [ ]:
l = [3,2,5,6] #create list l

In [ ]:
print(l) #function print()

In [ ]:
l = sorted(l) #function sorted()

In [ ]:
l.append(7) #built-in list method

In [ ]:
len(l) #function len()

In [ ]:
min(l) #function min()

In [ ]:
max(l) #function max()

In [ ]:
sum(l) #function sum()

In [ ]:
mean(l) #function mean() -> does not exist

In [ ]:
def mean(x):
    mean = sum(x) / len(x) #calculating mean(l) with sum(l) / len(l)
    return mean

In [ ]:
def mean(x): #defining function mean() with parameter x, which calculates the mean value of sequence x
    return sum(x) / len(x)

In [ ]:
mean(l) #calling the function by passing the argument l to the function

In [ ]:
mean(x = l) #same as above (argument l for parameter x)

In [ ]:
t = (4,5,6,7)

In [ ]:
mean(t) #works as well with tuples

In [ ]:
a = 8

In [ ]:
a**2

In [ ]:
def square(x): #parameter x without default value
    return x**2

In [ ]:
square(4) #calling the function by passing the argument 4

In [ ]:
square(x = 4) #same as above

In [ ]:
square() #no default value defined -> Error

In [ ]:
def square2(x = 2): #parameter x with default value
    return x**2

In [ ]:
square2() #can be called with default value 2

In [ ]:
square2(4) #can be called with new argument 4

In [ ]:
square2(x = 4) #same as above

In [ ]:
def power(x,y): #function can have more than one parameter 
    return x**y

In [ ]:
power(2,7) #call the function with argument 2 for parameter x and argument 7 for parameter y (2 positional arguments)

In [ ]:
power(x = 2, y = 7) #same as above (2 keyword arguments)

In [ ]:
power(y = 7, x = 2) #can change position of keyword arguments

In [ ]:
power(x = 2, 7) #keyword arguments must follow positional arguments!!!

In [ ]:
power(2, y = 7) #keyword arguments must follow positional arguments!!!

In [ ]:
def power2(x = 2, y = 7): #two parameters with default values 
    return x**y

In [ ]:
power2() #function call with default values

In [ ]:
power2(3,2) #function call with new values (2 positional arguments)

In [ ]:
power2(x = 3, y = 2) #function call with new values (2 keyword arguments)

In [ ]:
power2(x = 3) #changing parameter x:(1) new value for keyword parameter x and default value for parameter y

In [ ]:
power2(3) #changing parameter x:(2) new value for positional parameter x and default value for parameter y

In [ ]:
power2(3, x = 2)  #changing parameter y:(1) multiple values for x (positional & keyword argument)

In [ ]:
power2(x = 2, 3)   #changing parameter y:(2) keyword arguments must follow positional arguments!!!

In [ ]:
power2(y = 3)   #changing parameter y:(3) one default value for x,  keyword argument for y

In [ ]:
power2(x = 2, y = 3) #changing parameter y:(4) two keyword arguments -> BEST PRACTICE!!!

In [ ]:
z = power2(x = 2, y = 3) #can assign return value of function to new variable
z

In [ ]:
def calc(x,y): #can return multiple values
    return x+y, x-y, x*y

In [ ]:
calc(5,2) #returns tuple

In [ ]:
def calc2(x,y): #same as above
    add = x+y
    sub = x-y
    mult = x*y
    return add, sub, mult

In [ ]:
calc2(5,2)

In [ ]:
c = calc2(5,2) #assign results tuple to variable c
c

In [ ]:
add, sub, mult = c #unpack tuple and assign variables add, sub, mult

In [ ]:
add

In [ ]:
sub

In [ ]:
mult

In [ ]:
add, sub, mult = calc2(5,2) # calling the fucntion and assigning results to variables add, sub, mult

In [ ]:
add

In [ ]:
sub

In [ ]:
mult

In [ ]:
l = [1,2,3,4,5,6,7]
l

In [ ]:
def median(x): #conditional return (returns median value of sequence x)
    n = len(x)
    if n < 1:
            return None
    if n % 2 == 1:
            return sorted(x)[n//2]
    else:
            return sum(sorted(x)[n//2-1:n//2+1])/2.0

In [ ]:
median(l)

In [ ]:
import random #import random module

In [ ]:
random.randint(1, 100) #create one random integer in range 1 to 100

In [ ]:
def random_generator(size =50, lower_end_point = 1, higher_end_point = 100, seed = 123): #generating many random integers
    l = []
    random.seed(seed)
    for i in range(size):
        random_int = random.randint(lower_end_point,higher_end_point)
        l.append(random_int)
    return l

In [ ]:
random_generator()

In [ ]:
random_generator(10, 100, 200, 100) #calling the function with positional arguments

In [ ]:
#calling the function with keyword arguments, BEST PRACTICE!!!
random_generator(size = 10, lower_end_point = 100, higher_end_point = 200, seed =  100)

## 14 Visualization with Matplotlib

In [ ]:
import matplotlib.pyplot as plt #import plotting framwork of matplotlib
%matplotlib inline

In [ ]:
l = [1,3,5,7,6]
l

In [ ]:
plt.plot(l) #create a line plot of l
plt.show() #show plot

In [ ]:
plt.plot(range(5,10), l) #defines x-axis values for y-axis values l 
plt.show()

In [ ]:
plt.scatter(x = range(5), y = l) #creates scatterplot
plt.show()

In [ ]:
import random

In [ ]:
random.seed(123)
speed_ny = [random.normalvariate(55, 5) for i in range(10000)] #creates 10,000 normal distributed numbers with mean=55 and std=5
speed_ny[:10]

In [ ]:
plt.hist(speed_ny, bins = 100) #creating a histogramm of list speed with 100 bins
plt.show()

In [ ]:
plt.style.use("seaborn") #change style to seaborn
plt.figure(figsize = (12,6)) #change size of graph
plt.hist(speed_ny, bins = 100, label = "New York Data", alpha = 0.5, color = "red") #Histrogramm of NY Data
plt.hist(speed_bo, bins = 100, label = "Boston Data", alpha = 0.5, color = "blue") #Histogramm of Boston Data
plt.title("Measured Car Speed (Speed Limit 50 mph)", fontsize = 15) #set title
plt.xlabel("Speed") #label x-axis
plt.ylabel("occurences") #label y-axis
plt.vlines(sum(speed_ny)/len(speed_ny),0,400, color = "red", linestyle = "--", label = "Mean New York") #vertical line at NY mean
plt.vlines(sum(speed_bo)/len(speed_bo),0,400, color = "blue", linestyle = "-.", label = "Mean Boston") #vertical line at Boston mean 
plt.axis((30,90,0,400)) #set range of axis
plt.xticks(range(30,91,5)) #set ticks of x-axis
plt.yticks(range(0,401,50))  #set ticks of y-axis
plt.grid(True) #enable/disable grid
plt.legend(loc = "center right", fontsize = 13) #include legend
plt.show()

In [ ]:
speed_bo = [random.normalvariate(60, 8) for i in range(10000)]

https://matplotlib.org/index.html